# Игнорируем всё виртуальное окружение Python
venv/

# Игнорируем папки с кешем интерпретатора Python
__pycache__/

# Игнорируем все файлы с расширением .log
*.log

# Игнорируем скрытые файлы настроек редактора (например, для VSCode)
.vscode/
.idea/

# (Опционально) Игнорируем файл с чувствительными данными (пароли, ключи)
.env